 .App {
  text-align: center;
}

h1 {
color: hsl(150, 76%, 44%);
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

h1 {
  animation: blink 1s infinite;
}

.App-header {
  background-color: #1bc671;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
